body {
    background-color: burlywood;
    color: black;
    font-family: Verdana;
    font-size: 18pt;
    background-image: url(pictures/background.png);
    background-size: 100%;
}

user agent stylesheet
body {
    display: block;
    margin: 8px;
}
